body{
  background-color: black;
  padding: 10px;
  
}

.main{
  height: 150px;
  width: 100%;
  display: block;
  margin: 10 auto;
  margin-top: 10px;
}

.mainContentContainer{
  height: 120px;
  background-color: white;
  text-align: center;
  border: 1px solid black;

}

.resultTitle{
  margin: 0 auto;
}

.resultContainer{
  padding: 5px;
  background-color: white;
  width: 99%;
  margin: 0 auto;
}

.resultBody{
  background: color: white;
  padding: 10px;
}